# ignore results directories to not up- or download huge amount of bytes
results/

# ignore data directory with symbolic links
/02_parse_pdb/data/

# ignore .ipynb_checkpoints
.ipynb_checkpoints/

# ignore test_misc directory
/test_misc/
